.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    &__title {
        font-weight: bold !important;
    }
    &__action {
        margin-top: 20px;
    }
}
