.footer {
    background-color: #F5F5F5 ;
    height: 70px;
    margin-top: 358px;

    &__title {
        text-transform: uppercase;
        color: #1887cb;
        cursor: pointer;
        font-weight: bold;
    }
}
